  body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: rgb(246,45,255);
background: linear-gradient(135deg, rgba(246,45,255,1) 0%, rgba(255,172,252,1) 100%);
    
    
    background-attachment: fixed;
}
