* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

/* Estilos do corpo da página */
body {
  background: linear-gradient(to top, #46aefd, #dbeaf7, #ebf2f9) fixed;
  background-repeat: no-repeat;
  height: 100vh;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Conteúdo principal da página */
.conteinerMain {
  max-width: 90%;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.conteinerHead {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
}

.conteinerBody {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  gap: 15px;
  margin-left: 4%;
  margin-right: 3%;
}

.primeiroLink,
.segundoLink,
.terceiroLink,
.quartoLink {
  width: 100%; /* Ocupa 100% da largura disponível */ /* Limita a largura máxima a 500px */
  height: 50px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  border-radius: 40px;
  box-sizing: border-box;
}
.primeiroLink:hover {
  color: white;
  background-color: transparent;
  border-color: white; /* Cor da borda quando hover */
}
.segundoLink:hover {
  color: white;
  background-color: transparent;
  border-color: white; /* Cor da borda quando hover */
}
.terceiroLink:hover {
  color: white;
  background-color: transparent;
  border-color: white; /* Cor da borda quando hover */
}
.quartoLink:hover {
  color: white;
  background-color: transparent;
  border-color: white; /* Cor da borda quando hover */
}

.conteinerIcon {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  align-items: center;
}

.imgPerfil {
  padding: 20px;
}

a {
  color: aliceblue;
  padding: 10px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  color: #033172;
  justify-content: center;
  width: 400px;
  padding: 5%;
}

/* Estilos para os cabeçalhos h4 */
h4 {
  color: #033172;
}
/* Remover a rolagem para telas menores */
@media (max-width: 400px) {
  body {
    overflow: hidden;
  }
}
